# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

****** Este Jupyter Notebook foi atualizado para a versão 3.6.1 da Linguagem Python em 05/06/2017 ******

## Exercícios

In [7]:
# Exercício 1 - Imprima na tela os números de 1 a 10
i = 1
while i < 11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [9]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista = ['algum valor', 5, 5.0, "algum", 'valor']
print(lista)

['algum valor', 5, 5.0, 'algum', 'valor']

In [12]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
string1 = 'string1'
string2 = 'string2'
string3 = 'string1'+'string2'
print(string3)

string1string2

In [14]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1,2,2,3,4,4,4,5)
tupla.count(4)

3

In [15]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dicionario = {"key1": 1, 'key2': "two",'key3': 3 }
print(dicionario)

{'key1': 1, 'key2': 'two', 'key3': 3}

In [16]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dicionario['key4'] = 4
print(dicionario)

{'key1': 1, 'key2': 'two', 'key3': 3, 'key4': 4}

In [26]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
fileNome = open('nomes.txt','w')
fileNome.write('tiago, joao, pedro, antonio, bruno, fidel')
fileNome.close()

In [29]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
fileNome = open('nomes.txt', 'r')
fileNome.read()

'tiago, joao, pedro, antonio, bruno, fidel'

In [30]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
emptyDict = {}
print(emptyDict)

{}

In [33]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "binary.csv"
df = pd.read_csv(file_name)
df.tail(4)

   admit  gre   gpa  rank
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>